<h1>Game of thrones characters</h1>
<br/>
{{#each characters}}
    <h4>{{this.fullName}}</h4>
    <img src="{{this.imageUrl}}" style="width:100px; height:100px; border-radius:75%;"/>
    <p>{{this.title}}</p>
{{/each}}