<form action="/signup" method="post">
    <input type="text" name="firstName">
    <input type="text" name="lastName">
    <input type="number" name="age">
    <input type="text" name="city">
    <button type="submit">Add a new student</button>
</form>