@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.mobile-container {
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 3.1rem 1.6rem 0;
}

.list {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.list-item-footer {
  width: 95vw;
  padding: 0 2.6rem 0;
  @include tekoLarge;
  border-bottom: 1px solid $color-light-grey;
  display: flex;
  justify-content: flex-end;
}

.first-item-mobile {
  align-items: center;
}