<form action="/users/edit/{{_id}}" method="post">
    <input type="text" name="username" value="{{username}}">
    <br/>
    <input type="email" name="email" value="{{email}}">
    <br/>
    <input type="password" name="password" value="{{password}}">
    <br/>
    <button type="submit">Update user</button>
</form>