<form action="/signup" method="post">
    <input type="text" name="username" placeholder="Enter your username">
    <br/>
    <input type="email" name="email" placeholder="Enter your email">
    <br/>
    <input type="password" name="password" placeholder="Enter your password">
    <br/>
    <button type="submit">Create user</button>
</form>