<form action="/books/create" method="post">
    <input type="text" name="title" placeholder="Add a title">
    <input type="text" name="author" placeholder="Add an author name">
    <input type="text" name="description" placeholder="Add a description">
    <input type="number" name="rating" placeholder="Add a rating">
    <button type="submit">Create Book</button>
</form>