<h1>Login page</h1>

<form action="/auth/login" method="post">
    <input type="email" name="email" placeholder="Enter your email">
    <input type="password" name="password" placeholder="Enter your password">
    <button type="submit">Login</button>
</form>

{{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}}