<h1>Signup page</h1>

<form action="/auth/signup" method="post">
    <input type="text" name="username" placeholder="Enter your username">
    <input type="email" name="email" placeholder="Enter your email">
    <input type="password" name="password" placeholder="Enter your password">
    <button type="submit">Signup</button>
</form>