{{#if username}}
  <h2>Welcome, {{ username }}!</h2>
  <img src="{{imageUrl}}" style="width:50px;height:50px;border-radius:75%;"/>
  <p>This is your profile page my friend!</p>
  <button>
    <a href="/auth/profile">Reload the page</a>
  </button>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}