<h1>Signup Page</h1>

<form action="/auth/signup" method="post">
    <input type="text" name="username" placeholder="Enter your username..." required>
    <input type="password" name="password" placeholder="Enter your password..." required>
    <button type="submit">Create User</button>
</form>

{{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}