<h2>Create a new drone</h2>

<form action="/drones/create" method="post">
    <input type="text" name="name" placeholder="Enter the name of your done">
    <input type="text" name="propellers" placeholder="Enter the number of propellers">
    <input type="text" name="maxSpeed" placeholder="Enter the maximum speed of your drone">
    <button type="submit">Create Drone</button>
</form>