<h2>Update the drone</h2>

<form action="/drones/{{id}}/edit" method="post">
    <input type="text" name="name" value="{{name}}">
    <input type="text" name="propellers" value="{{propellers}}">
    <input type="text" name="maxSpeed" value="{{maxSpeed}}">
    <button type="submit">Update Drone</button>
</form>