// COLORS
$color-red: #FF2929;
$color-blue: #1A18F7;
$color-white: #ffffff;
$color-regular-black: #000000;
$color-light-black: #0E0E0E;
$color-dark-black: #272727;
$color-dark-grey: #808080;
$color-light-grey: #A3A3A3;
$color-regular-grey: #939393;
// Arial Teko

// FONT SIZES
$font1: 1.2rem;
$font2: 1.3rem;
$font3: 1.5rem;
$font4: 1.8rem;
$font5: 2.4rem;
$font6: 3rem;
$font7: 3.2rem;
$font8: 5rem;
// FONT WEIGHTS
$font-weight-regular: 400;
$font-weight-bold: 700;

// BACKGROUNDS AND TEXT COLORS
$background-main-color: $color-white;
$background-cta-button: $color-blue;
$background-footer: $color-light-black;
$text-alert: $color-red;
$text-case-cta: $color-blue;
$text-case-title: $color-light-black;
$text-case-author: $color-dark-black;
$text-quote-company:$color-regular-grey;
$text-color-main: $color-regular-black;
$text-color-secondary: $color-light-grey;
$text-footer-primary: $color-white;
$text-footer-secondary: $color-dark-grey;
